/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color: #DDD8C4;
  }

  .special {
    background-color: aqua;
    border: double 150px brown;
    color: darkgoldenrod;
    font-weight: bold;
  }

  body {
    background-color: aquamarine;
  }

  #content {
    margin: 50px;
    padding: 10px;
    border: solid 3px orange;
    background-color: coral;
  }
  
    h1 {
      color: darkmagenta;
      font-family: 'Courier New', Courier, monospace;
      font-size: 300%;
    }

    h2 {
      color: darkmagenta;
      font-family: 'Courier New', Courier, monospace;
      font-size: 200%;
    }